<div class="row">
  <div class="col-sm-6">
    <h1>Zarejestruj się</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :role => "form" }) do |f| %>
    
      <%= devise_error_messages! %>
    
      <div class="form-group">
        <%= f.label :username, "Nazwa użytkownika" %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :username, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-6">      
            <%= f.email_field :email, class: "form-control" %>  
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <%= f.label :password, "Hasło" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <%= f.label :password_confirmation, "Powtórz hasło" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= f.submit "Zarejestruj się", class: "btn btn-primary" %>
        </div>
      </div>    
      <% end %>
      

      <%= render "devise/shared/links" %>

    </div>
  </div>