

<% if !user_signed_in? %>
<li><%= link_to "Zaloguj się", new_user_session_path %></li>
<li><%= link_to "Zarejestruj się", new_user_registration_path %></li>
<% else %>
<li><%= link_to "Edytuj konto", edit_user_registration_path %></li>

<% if current_user.admin? %>
<li><%= link_to "Admin", admin_root_path %></li>
<% end %>

<li><%= link_to "Wyloguj się", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>